extends layout

block content
  div.page-header
    h1 Get Your MetaData Here

  div.row
    div.span2
      a(href='/antibody') Antibodies
    div.span10 View and Create ENCODE3 Antibodies
    div.span2
      a(href='/tutorial2') Tutorial 2
    div.span10 Working with Lists and Collections
